body {
    font-family: arial;
    colour: #666666;
    padding: 10px;
    width: 90%;
    margin: 0 auto;}

h1, h3{
    text-align: center;
    padding: 10px;
    }

h1 {
margin-top: 3em;}

p {
    padding: 10px;
    font-family: Times New Roman;}

#header {
    position: fixed;
    top: 10px;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    background-color: #aeaca8;
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
}

#header a {
text-decoration: none;
color: black}

#header a:hover, a:hover {
color: red;}

#footer {
    text-align: right;
    border-width: 2px;
    background-color: #aeaca8;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
}

.center {
text-align: center;}

.iamhere {
color: red;
}



